<h1>Tasks list:</h1>


<h4>{{ user.get_username }}</h4>
<a href="{% url 'signout' %}">Sign out</a>

<hr>
<h3>
    <a href="{% url 'task-create' %}">Create new task</a>
</h3>

<h4>You have {{count}} imcompleted tasks.</h4>

<form method="get">
    <input type="text" name='search'>
    <input type="submit" value='Search'>
</form>

<table>
    <tr>
        <th>
            Item
        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td>
            {{ task.title }}
        </td>
        <td>
            <a href="{% url 'task' task.id %}">View</a>
        </td>
        <td>
            <a href="{% url 'task-update' task.id %}">Edit</a>
        </td>
        <td>
            <a href="{% url 'task-delete' task.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>
            No items available
        </td>
    </tr>
    {% endfor %}
</table>