<h1>Tasks list:</h1>

{% if request.user.is_authenticated %}
<h4>{{ user.get_username }}</h4>
<a href="">Sign out</a>
{% else %}
<h4>Not authenticated</h4>
<a href="{% url 'signin' %}">Sign in</a>
{% endif %}

<hr>
<h3>
    <a href="{% url 'task-create' %}">Create new task</a>
</h3>

<table>
    <tr>
        <th>
            Item
        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td>
            {{ task.title }}
        </td>
        <td>
            <a href="{% url 'task' task.id %}">View</a>
        </td>
        <td>
            <a href="{% url 'task-update' task.id %}">Edit</a>
        </td>
        <td>
            <a href="{% url 'task-delete' task.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>
            No items available
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>
    {% endfor %}
</table>